@import url("main.css");

body {
  font-size: 3rem;
  padding: 3rem;
  align-items: flex-start;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

p {
  margin: 0.5rem 0;
}

P + P {
  margin-top: 1.75rem;
}

.callout {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0.5em solid currentColor;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em 0;
}

.callout--error {
  color: #ff4e3a;
}

.callout--warning {
  color: #ff8c3a;
}

.callout--info {
  color: #2196f3;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
}

.tags li {
  white-space: nowrap;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
  background-color: var(--color-accent_dark);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  left: auto;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.carousel {
  position: relative;
  margin: auto;
  text-align: center;
}

.carousel .controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.carousel .controls .dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.carousel .controls .dots li {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  color: #bbb;
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel .controls .dots li.active,
.carousel .controls .dots li:hover {
  color: #717171;
}

.carousel .slides {
  display: flex;
  flex-direction: row;
}

.carousel .slides li {
  display: none;
  text-align: center;
}

.carousel img {
  max-height: 95vh;
  vertical-align: middle;
}
