@import url("main.css");

body {
  font-size: 3rem;
  padding: 1.5rem 3rem;
}

ul {
  width: 100%;
  list-style: none;
  max-width: var(--max-width);
  margin-left: auto !important;
  margin-right: auto !important;
}

h1,
h2,
h3,
h4,
h5 {
  width: var(--max-width);
  max-width: 100%;
  margin: 2rem auto;
}

body>p {
  width: 100%;
  max-width: var(--max-width);
  margin: 0.5rem auto;
}

body>p+body>p {
  margin-top: 1.75rem;
}

.copyright {
  padding: 0 !important;
}

.callout {
  width: var(--max-width);
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0.5em solid currentColor;
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em auto;
}

.callout--error {
  color: #ff4e3a;
}

.callout--warning {
  color: #ff8c3a;
}

.callout--info {
  color: #2196f3;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
}

.tags li {
  white-space: nowrap;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;
  background-color: var(--clr-accent__900);
}

.carousel {
  color: #eee;
  font-size: 3rem;
  position: relative;
  margin: auto;
  text-align: center;
}

.carousel .controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.carousel .controls .dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0.5em;
}

.carousel .controls .dots li {
  cursor: pointer;
  height: 1.25em;
  width: 1.25em;
  margin: 0 0.25em;
  color: currentColor;
  background-color: currentColor;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  transition: color 500ms ease;
}

.carousel .controls .dots li.active,
.carousel .controls .dots li:hover {
  color: var(--clr-accent__500);
}

.carousel .slides {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.carousel .slides li {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

.carousel .slides li.selected {
  position: relative;
  opacity: 1;
}

.carousel img {
  max-height: 95vh;
  vertical-align: middle;
  opacity: 0.75;
}

.carousel .prev,
.carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: auto;
  padding: 1em;
  color: currentColor;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-shadow: var(--clr-primary__400) 0 0 1px, var(--clr-primary__400) 0 0 1px,
    var(--clr-primary__400) 0 0 1px;
}

.carousel .next {
  right: 0;
  left: auto;
  border-radius: 3px 0 0 3px;
}

.carousel .prev:hover,
.carousel .next:hover {
  color: #fff;
  background-color: var(--clr-accent__500);
  opacity: 0.75;
}

.carousel .text,
.carousel .numbertext {
  color: currentColor;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 900;
  text-shadow: var(--clr-primary__400) 0 0 1px, var(--clr-primary__400) 0 0 1px,
    var(--clr-primary__400) 0 0 1px;
  padding: 0.5em;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.carousel .text {
  color: var(--clr-accent__500);
}

.carousel .text {
  width: 100%;
}